[project]
	description = A Kubernetes Framework for Apache Mesos
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/joerg84
[access "refs/for/refs/*"]
	read = group user/joerg84
	push = group user/joerg84
	label-Code-Review = -2..+2 group user/joerg84
	label-Verified = -1..+1 group user/joerg84
	rebase = group user/joerg84
	removeReviewer = group user/joerg84
	submit = group user/joerg84
[access "refs/heads/*"]
	read = group user/joerg84
	create = group user/joerg84
	push = +force group user/joerg84
	pushMerge = group user/joerg84
[access "refs/tags/*"]
	push = +force group user/joerg84
	pushTag = group user/joerg84
	pushSignedTag = group user/joerg84
